@import "../../sass/variables.scss";

.loginPageWrapper {
    width: 100%;
    min-height: $-abs-height;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
        width: 30vw;

        display: flex;
        flex-direction: column;
        gap: 15px;

        padding: 15px;
        background: $-white-02;
        border-radius: 10px;

        h3 {
            text-align: center;
            margin-bottom: 15px;
            font-weight: 400;
        }

        input[type="text"],
        input[type="password"],
        button {
            padding: 5px 8px;
            background: none;
            border: 1px solid white;
            border-radius: 4px;
            font-size: 16px;
            color: white;

            &::placeholder {
                color: white;
                font-size: 16px;
            }
        }

        button {
            cursor: pointer;
        }

		p {
			color: crimson;
			font-weight: 600;
			text-align: center;
		}
    }

    p {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    a {
		overflow: hidden;
		&:hover {
			span {
				border-color: white;
				
				&::before {
					transform: translateX(100%);
					opacity: 0;
				}
				
				&::after {
					opacity: 0;
					transform: translateX(-100%);
				}
			}

		}
        
		span {
            position: relative;
            border: 1px solid transparent;

            padding: 5px 12px;
            border-radius: 5px;
			
            &::before,
            &::after {
				transition: $-transition;
                content: "";
                position: absolute;
                background: $-white-02;
                width: 100%;
                height: 100%;
                top: 0;
				left: 0;
            }
			
			&::after {
				left: 100%;
			}
			
			&::before {
				left: -100%;
			}
        }
    }
}
